---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso Legal - Procuradora Córdoba - María José Carralero Medina">
    <main class="mb-10">
        <h1 class="mt-10 lg:ml-32 text-4xl text-gray-200 font-semibold text-center lg:text-left">Aviso Legal</h1>
        <hr class="opacity-20 mt-4 mx-auto lg:ml-32 w-3/4 hidden lg:block">
        <div class="mx-auto w-3/4 mt-10">
    
            <h2 class="text-white text-2xl font-bold">1.- Información sobre el responsable del tratamiento de los datos personales</h2>
            <p class="prose-invert text-white mt-4">El responsable del tratamiento de los datos personales es <strong>María José Carralero Medina</strong>, con C.I.F.: [rellenar]. <strong>María José Carralero Medina</strong> es la titular del Sitio Web y de todos los subdominios y directorios relacionados con el mismo, denominado en conjunto como "[rellenar]". Puedes ponerte en contacto con <strong>María José Carralero Medina</strong> para cualquier aspecto relacionado con esta política de privacidad a través del correo electrónico: <a href="mailto:mjcarralero@cordoba.cgpe.net" class="text-blue-400">mjcarralero@cordoba.cgpe.net</a>.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">2.- SSL y Seguridad</h2>
            <p class="prose-invert text-white mt-4">Este sitio web ha contratado un certificado SSL ("Secure Sockets Layer") para proteger la información personal y confidencial que se transmite desde los formularios de contacto o áreas protegidas del sitio. El sitio web utilizará "https" para garantizar una conexión segura entre el servidor y el navegador del usuario.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">3.- Utilización del Sitio Web</h2>
            <p class="prose-invert text-white mt-4">Al acceder al Sitio Web, declaras que eres mayor de edad y tienes la capacidad legal para vincularte a los términos y condiciones. Si no estás de acuerdo con ellos, debes abandonar el sitio. El acceso al sitio web es gratuito, pero te comprometes a utilizar los recursos del mismo de acuerdo con los términos de uso establecidos y respetando la legalidad vigente, la moral y el orden público.</p>
    
            <h3 class="text-white text-xl font-bold mt-4 ml-4">3.1. Prohibiciones de uso</h3>
            <ul class="text-white ml-8 mt-2">
                <li class="text-white mb-1">- No utilizar el sitio web para actividades ilícitas o contrarias a la buena fe o al orden público.</li>
                <li class="text-white mb-1">- No dañar los sistemas físicos o lógicos de <strong>María José Carralero Medina</strong> o de terceros.</li>
                <li class="text-white mb-1">- No introducir virus informáticos ni otros sistemas que puedan causar daños al sitio web o a los sistemas de terceros.</li>
            </ul>
    
            <h2 class="text-white text-2xl font-bold mt-8">4.- Participación del usuario</h2>
            <p class="prose-invert text-white mt-4">En caso de que el sitio permita la participación del usuario, mediante comentarios o generación de contenidos, se prohíbe difundir contenidos ilícitos, racistas, xenófobos, o que inciten al odio o vulneren los derechos humanos. <strong>María José Carralero Medina</strong> se reserva el derecho de eliminar cualquier contenido inapropiado.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">5.- Veracidad de los datos proporcionados</h2>
            <p class="prose-invert text-white mt-4">El usuario es responsable de proporcionar datos completos y verídicos. <strong>María José Carralero Medina</strong> no se hace responsable por la inexactitud o falta de actualización de los datos proporcionados.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">6.- Responsabilidad</h2>
            <p class="prose-invert text-white mt-4">No podemos garantizar la ausencia de interrupciones o errores en el acceso al sitio. Sin embargo, nos comprometemos a actuar para corregir cualquier incidencia tan pronto como tengamos conocimiento de ellas.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">7.- Propiedad Intelectual e Industrial</h2>
            <p class="prose-invert text-white mt-4">Todo el contenido del sitio web es propiedad de <strong>María José Carralero Medina</strong> o contamos con licencia para su uso. Queda prohibida la reproducción, distribución o transformación de los contenidos sin autorización previa y por escrito de <strong>María José Carralero Medina</strong>.</p>
    
            <h3 class="text-white text-xl font-bold mt-4 ml-4">7.1. Contenidos generados por el usuario</h3>
            <p class="prose-invert text-white ml-4">Con la aceptación de los términos, el usuario concede una licencia a <strong>María José Carralero Medina</strong> para la publicación de los contenidos generados en el sitio web o redes sociales. Está prohibido subir o compartir contenidos protegidos por derechos de propiedad intelectual sin autorización.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">8.- Política de Enlaces</h2>
            <h3 class="text-white text-xl font-bold mt-4 ml-4">8.1. Enlaces desde otros sitios web</h3>
            <p class="prose-invert text-white ml-4">Para establecer un enlace hacia nuestro sitio, se deben cumplir ciertas condiciones, como no realizar manifestaciones falsas o incorrectas sobre <strong>María José Carralero Medina</strong> ni reproducir contenidos sin autorización previa.</p>
    
            <h3 class="text-white text-xl font-bold mt-4 ml-4">8.2. Enlaces hacia otras webs</h3>
            <p class="prose-invert text-white ml-4">Este sitio puede contener enlaces a otros sitios web de terceros. No nos hacemos responsables de los contenidos, servicios o información de esos sitios ni garantizamos que estén libres de virus u otros elementos que puedan dañar el sistema del usuario.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">9.- Incumplimiento y Derecho de Exclusión</h2>
            <p class="prose-invert text-white mt-4">El incumplimiento de los términos de uso podrá ser perseguido legalmente. Nos reservamos el derecho de excluir del sitio a los usuarios que no cumplan con los términos establecidos.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">10.- Modificación de los términos</h2>
            <p class="prose-invert text-white mt-4">Podemos modificar estos términos en cualquier momento, siendo debidamente publicados. La vigencia de los términos será la que esté en exposición.</p>
    
            <h2 class="text-white text-2xl font-bold mt-8">11.- Ley aplicable</h2>
            <p class="prose-invert text-white mt-4">Estos términos se regirán por la legislación española.</p>
    
        </div>
    </main>
</Layout>
