---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Privacidad - Procuradora Córdoba - María José Carralero Medina">
    <main class="mb-10">
        <h1 class="mt-10 lg:ml-32 text-4xl text-gray-200 font-semibold text-center lg:text-left">Política de Privacidad</h1>
        <hr class="opacity-20 mt-4 mx-auto lg:ml-32 w-3/4 hidden lg:block">
        <div class="mx-auto w-3/4 mt-10">

            <h2 class="text-white text-2xl font-bold">1.- Información sobre el responsable del tratamiento de los datos personales</h2>
            
            <p class="prose-invert text-white mt-4">El responsable de la gestión y tratamiento de los datos personales es <strong>María José Carralero Medina</strong>, con C.I.F.: 30520553-J. <strong>María José Carralero Medina</strong> es la titular del Sitio Web y de todos los subdominios y secciones relacionados con el mismo (denominado en conjunto como “www.procuradoracordoba.com”). Puedes ponerte en contacto con <strong>María José Carralero Medina</strong> para cualquier consulta relacionada con esta política de privacidad, enviando un correo a: <a href="mailto:mjcarralero@cordoba.cgpe.net" class="text-blue-400">mjcarralero@cordoba.cgpe.net</a>.</p>

            <h2 class="text-white text-2xl font-bold mt-8">2.- Finalidades para las que se tratarán tus datos personales</h2>

            <h3 class="text-white text-xl font-bold mt-4 ml-4">2.1. Tipos de datos recopilados</h3>
            <p class="prose-invert text-white ml-4">Los datos que recogemos son datos identificativos que no incluyen categorías especiales de datos personales ni datos relacionados con condenas o infracciones penales.</p>

            <h3 class="text-white text-xl font-bold mt-4 ml-4">2.2. ¿Por qué tratamos tus datos?</h3>
            <p class="prose-invert text-white ml-4 mt-4">En <strong>María José Carralero Medina</strong> tratamos los datos personales que recopilamos con las siguientes finalidades:</p>
            <ul class="text-white ml-8 mt-2">
                <li class="text-white mb-1">- Para gestionar la relación contractual en caso de que contrates nuestros servicios, y proporcionar la administración, atención, información y mejora del servicio ofrecido.</li>
                <li class="text-white mb-1">- Para enviarte la información que nos solicites.</li>
                <li class="text-white mb-1">- Para enviarte boletines, comunicaciones comerciales, ofertas y promociones sobre nuestros servicios a través de diversos canales.</li>
                <li class="text-white mb-1">- Para enviarte información comercial sobre productos o servicios de nuestros colaboradores.</li>
                <li class="text-white mb-1">- Para personalizar las ofertas y servicios que te ofrecemos, creando un "perfil comercial" basado en los datos que nos has proporcionado, sin tomar decisiones automatizadas que puedan afectar significativamente a tus derechos.</li>
            </ul>

            <h3 class="text-white text-xl font-bold mt-4 ml-4">2.3. ¿Cuánto tiempo conservaremos tus datos personales?</h3>
            <p class="prose-invert text-white ml-4 mt-4">Conservaremos tus datos personales mientras sea necesario para cumplir con los fines para los cuales fueron recopilados. El tiempo de conservación dependerá de la legislación vigente, y en general, se mantendrán durante los siguientes plazos:</p>
            <ul class="text-white ml-8">
                <li class="text-white mb-1">- 6 años en relación con documentos contables, facturas, etc., según el Art. 30 del Código de Comercio.</li>
                <li class="text-white mb-1">- 5 años para acciones legales sin plazo especial (Art. 1.964 del Código Civil).</li>
                <li class="text-white mb-1">- 4 años relacionados con impuestos y tributos (Ley General Tributaria).</li>
            </ul>
            <p class="prose-invert text-white ml-4 mt-1">Cuando ya no sean necesarios, procederemos a su eliminación de manera segura, mediante seudonimización o destrucción total.</p>

            <h2 class="text-white text-2xl font-bold mt-8">3.- Fundamento legal para el tratamiento</h2>
            <p class="prose-invert text-white mt-4">El tratamiento de tus datos se basa en el consentimiento que nos proporcionas al solicitar información o al contratar nuestros servicios. También se fundamenta en la necesidad de cumplir con la relación contractual, y podrás consultar los términos y condiciones antes de cualquier contrato. Además, el tratamiento se basa en el consentimiento explícito e informado, donde se te proporcionará toda la información necesaria, y podrás aceptar mediante una acción afirmativa, como marcar una casilla de verificación.</p>
            <p class="prose-invert text-white mt-4">Te recordamos que puedes retirar tu consentimiento en cualquier momento, sin que ello afecte a la legalidad del tratamiento previo a su revocación.</p>

            <h2 class="text-white text-2xl font-bold mt-8">4.- Destinatarios de los datos</h2>
            <p class="prose-invert text-white mt-4">Los datos no se compartirán con terceros, salvo que exista una obligación legal o que se te informe previamente. Además, algunos proveedores que colaboran con <strong>María José Carralero Medina</strong> pueden tener acceso a tus datos personales. Estos proveedores están sujetos a un contrato de encargado del tratamiento conforme a la normativa vigente y se encuentran ubicados en la Unión Europea o en países adheridos al Privacy Shield.</p>

            <h2 class="text-white text-2xl font-bold mt-8">5.- Derechos del usuario</h2>
            <p class="prose-invert text-white mt-4">Como titular de los datos, tienes derecho a obtener información sobre si estamos tratando tus datos personales y a ejercer los siguientes derechos:</p>
            <ul>
                <li class="text-white mb-1">- Derecho a retirar el consentimiento en cualquier momento.</li>
                <li class="text-white mb-1">- Derecho a ACCEDER a los datos que tenemos sobre ti.</li>
                <li class="text-white mb-1">- Derecho a RECTIFICAR datos incorrectos.</li>
                <li class="text-white mb-1">- Derecho a SOLICITAR la ELIMINACIÓN de tus datos si ya no son necesarios para los fines para los que fueron recogidos.</li>
                <li class="text-white mb-1">- Derecho a LIMITAR el tratamiento de tus datos en determinadas circunstancias.</li>
                <li class="text-white mb-1">- Derecho a OPONERTE al tratamiento de tus datos en situaciones específicas relacionadas con tu situación particular.</li>
                <li class="text-white mb-1">- Derecho a la PORTABILIDAD de tus datos, permitiéndote obtenerlos en un formato estructurado y transferirlos a otro responsable si así lo solicitas.</li>
            </ul>
            <p class="prose-invert text-white mt-4">Para ejercer estos derechos, puedes enviarnos una solicitud a la dirección de correo electrónico: <a href="mailto:mjcarralero@cordoba.cgpe.net">mjcarralero@cordoba.cgpe.net</a>, junto con una copia de tu documento de identidad o cualquier otro documento que demuestre tu identidad.</p>
            <p class="prose-invert text-white mt-4">Si consideras que hemos vulnerado tus derechos, puedes presentar una reclamación ante la Agencia Española de Protección de Datos (AEPD).</p>

            <h2 class="text-white text-2xl font-bold mt-8">6.- Consecuencias de no proporcionar los datos solicitados</h2>
            <p class="prose-invert text-white mt-4">Si no proporcionas los datos obligatorios solicitados en los formularios, no podremos atender tu solicitud o llevar a cabo la prestación de los servicios, lo que imposibilitaría proporcionarte la información que necesitas o la contratación de los servicios.</p>

            <h2 class="text-white text-2xl font-bold mt-8">7.- Seguridad y actualización de tus datos personales</h2>
            <p class="prose-invert text-white mt-4">Nos comprometemos a adoptar las medidas técnicas y organizativas necesarias para garantizar la seguridad de tus datos personales, para protegerlos de alteraciones, pérdidas o accesos no autorizados. Sin embargo, la seguridad absoluta no existe, por lo que es importante que nos informes de cualquier cambio en tus datos para que podamos mantenerlos actualizados.</p>

            <h2 class="text-white text-2xl font-bold mt-8">8.- Confidencialidad</h2>
            <p class="prose-invert text-white mt-4">Te garantizamos que tus datos serán tratados de manera confidencial por todo el personal que intervenga en el proceso de tratamiento. No compartiremos ni cederemos tus datos a terceros, salvo que esté legalmente permitido o si has dado tu consentimiento expreso para ello.</p>
        </div>
    </main>
</Layout>