---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recursos - María José Carralero Medina - Procuradora Córdoba">
    <h1 class="text-3xl text-gray-200 font-semibold text-center">Recursos</h1>
</Layout>