---
import Layout from "../layouts/Layout.astro";

// export const prerender = true
---

<Layout title="Servicios - María José Carralero Medina - Procuradora Córdoba">
    <main>
        <h1 class="mt-10 lg:ml-32 text-4xl text-gray-200 font-semibold text-center lg:text-left">Servicios</h1>
        <hr class="opacity-20 mt-4 mx-auto lg:ml-32 w-3/4 hidden lg:block">
        <section class="grid lg:grid-cols-3 gap-12 lg:mx-32 mb-16 py-6 mt-10 h-auto ">

            <div class="h-full lg:border-r border-gray-600 hover:scale-105 transition-transform">
                <h3 class="text-gray-100 font-semibold text-xl text-center lg:text-left">Representación y Gestión Judicial</h3>
                <ul class="mt-6 mx-auto">
                    <li class="text-white mx-auto lg:mx-0 mb-4 font-thin w-72">Representación procesal ante todos los juzgados y tribunales.</li>
                    <li class="text-white mx-auto lg:mx-0 mb-4 font-thin w-72">Presentación y seguimiento de demandas, recursos y otros escritos.</li>
                    <li class="text-white mx-auto lg:mx-0 font-thin w-72">Control de plazos procesales y coordinación de señalamientos.</li>
                </ul>
            </div>

            <hr class="lg:hidden opacity-10 w-2/3 mx-auto">

            <div class="h-full lg:border-r border-gray-600 hover:scale-105 transition-transform">
                <h3 class="text-gray-100 font-semibold text-xl text-center lg:text-left">Tramitación de Documentación y Ejecuciones</h3>
                <ul class="mt-6">
                    <li class="text-white mx-auto lg:mx-0 mb-4 font-thin w-72">Gestión de embargos, subastas y ejecución de sentencias.</li>
                    <li class="text-white mx-auto lg:mx-0 mb-4 font-thin w-72">Recepción, traslado y diligenciamiento de notificaciones, mandamientos y exhortos.</li>
                    <li class="text-white mx-auto lg:mx-0 font-thin w-72">Tramitación de documentación ante registros y organismos públicos.</li>
                </ul>
            </div>

            <hr class="lg:hidden opacity-10 w-2/3 mx-auto">

            <div class="h-full hover:scale-105 transition-transform">
                <h3 class="text-gray-100 font-semibold text-xl text-center lg:text-left">Asesoramiento y Coordinación</h3>
                <ul class="mt-6">
                    <li class="text-white mx-auto lg:mx-0 mb-4 font-thin w-72">Orientación procesal para abogados y clientes.</li>
                    <li class="text-white mx-auto lg:mx-0 mb-4 font-thin w-72">Trabajo conjunto con abogados para una defensa integral.</li>
                    <li class="text-white mx-auto lg:mx-0 font-thin w-72">Mediación y asistencia en la resolución alternativa de conflictos.</li>
                </ul>
            </div>

        </section>
    </main>
</Layout>