---
const currentYear = new Date().getFullYear()
---

<div class="pt-10 pb-5 text-center">
    <div class="flex flex-col lg:flex-row mb-9 gap-4 lg:gap-8 items-center justify-center">
        <a class="underline transition text-white hover:text-gray-300" href="/aviso-legal">Aviso Legal</a>
        <a class="underline transition text-white hover:text-gray-300" href="/politica-de-privacidad">Política de privacidad</a>
        <a class="underline transition text-white hover:text-gray-300" href="/contacto">Contacto</a>
    </div>
   <p class="w-72 lg:w-full text-white opacity-55 text-sm mx-auto"> © {currentYear} María José Carralero Medina. <br>Todos los derechos reservados.</p>
</div>